.cursormodal {
  width: 10vh;
  font-size: 40px;
  cursor: pointer;
}

/* Services Area */

.services-area .services-title h1 {
  font-size: 35px;
}

.services-area .services {
  background: rgba(248, 252, 253, 0.973);
  padding: 1px;
  margin-left: -2vw;
  transition: box-shadow 0.7s ease;
}

.services-area .services:hover {
  box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205) !important ;
}

/* End Services Area */

/* Start Brand Area */

.brand-area {
  padding: 1rem 20rem;
  margin-bottom: 4rem;
}

.brand-area .first-row .col-lg-4 {
  display: flex;
  justify-content: center;
}

.brand-area .first-row .col-lg-4 > .single-brand {
  border: 1px solid var(--border-color);
  text-align: center;
  padding: 1.8rem 0rem;
  margin: 0.9rem 0;
  width: 180px;
  height: 100px;
  cursor: pointer;
  transition: transform 0.4s ease;
}

.brand-area .first-row .col-lg-4 > .single-brand > img {
  width: 50%;
}

.brand-area .first-row .col-lg-4 > .single-brand:hover {
  box-shadow: var(--box-shadow);
  transform: scale(1.1);
}

.brand-area .first-row .col-lg-4 > .single-brand:hover > img {
  filter: brightness(0.15);
}

.brand-area .experience-area {
  padding-left: 1rem;
}

.brand-area .experience-area span {
  display: block;
}

.brand-area .experience-area .years-area {
  background: url(client-info-bg.png) no-repeat 7vw 1vw;
  background-size: 280px 200px;
  padding: 2rem 0;
  width: 40rem;
  height: 18rem;
  padding-left: 8vw;
  position: relative;
}

.brand-area .experience-area .bg-panel {
  position: absolute;
  left: -260px;
  top: 0%;
  background: #dff0ef;
  width: 400px;
  height: 400px;
  margin-left: 340px;
  z-index: -1;
}

.brand-area .experience-area .years-area .years {
  font-size: 84px;
  font-weight: bold;
}

.brand-area .experience-area .years-area h2 > span {
  margin-bottom: -2vw;
  font-size: 30px;
}
.brand-area .experience-area .years-area .yeartopmargin {
  margin-top: 1vh;
}

.brand-area .experience-area .call-area {
  margin-top: -3vw;
  padding-left: 10vw;
}

/* End Brand Area */

.button {
  display: inline-block;
  padding: 0.5em 1em;
  background: #96c4c2;
  border: none;
  border-radius: 7px;
  background-image: linear-gradient(
    to bottom,
    hsla(0, 0%, 0%, 0),
    hsla(0, 0%, 0%, 0.2)
  );
  color: #222;
  font-family: sans-serif;
  font-size: 16px;
  text-shadow: 0 1px white;
  cursor: pointer;
}

.button:hover {
  background-color: #8cf;
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
  color: #222;
}

.button:active,
.button.is-checked {
  background-color: #28f;
}

.button.is-checked {
  color: white;
  text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
}

.button:active {
  box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

/* ---- button-group ---- */

.button-group {
  margin-bottom: 20px;
}

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.button-group .button {
  float: left;
  border-radius: 0;
  margin-left: 0;
  margin-right: 1px;
}

.button-group .button:first-child {
  border-radius: 0.5em 0 0 0.5em;
}
.button-group .button:last-child {
  border-radius: 0 0.5em 0.5em 0;
}

/*------------------------------------------------------------------
    PORTFOLIO
-------------------------------------------------------------------*/

.item-h2,
.item-h1 {
  height: 100% !important;
  height: auto !important;
}

.isotope-item {
  z-index: 2;
  padding: 0;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  transition-property: transform, opacity;
}

.portfolio-filter ul {
  padding: 0;
  z-index: 2;
  display: block;
  position: relative;
  margin: 0;
}

.portfolio-filter ul li {
  border-radius: 0;
  display: inline-block;
  margin: 0 5px 0 0;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
}

.portfolio-filter ul li:last-child:after {
  content: '';
}

.portfolio-filter ul li .btn-dark {
  box-shadow: none;
  background-color: transparent;
  border: 1px solid #e6e7e6 !important;
  color: #1f1f1f;
  font-weight: 400;
  font-size: 13px;
  padding: 10px 30px;
}

.da-thumbs {
  list-style: none;
  position: relative;
  padding: 0;
}

.da-thumbs .pitem {
  margin: 0;
  padding: 15px;
  position: relative;
}

.da-thumbs .pitem a,
.da-thumbs .pitem a img {
  display: block;
  position: relative;
}

.da-thumbs .pitem a {
  overflow: hidden;
}

.da-thumbs .pitem a div {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
}

.da-thumbs .pitem a div h3 {
  display: block;
  color: #ffffff;
  font-size: 20px;
  padding: 30px 15px;
  text-transform: capitalize;
  font-weight: normal;
}

.da-thumbs .pitem a div h3 small {
  display: block;
  color: #ffffff;
  margin-top: 5px;
  font-size: 13px;
  font-weight: 300;
}

.da-thumbs .pitem a div i {
  background-color: #1f1f1f;
  position: absolute;
  color: #ffffff !important;
  bottom: 0;
  font-size: 15px;
  z-index: 12;
  right: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.img-fluidport {
  height: 240px;
  transition: transform 1s;
}

.img-fluidport:hover {
  transform: scale(
    1.2
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
